@import "../../../assets/scss/varables.scss";
@import "../../../assets/scss/mixin.scss";
.main-content {
  padding: 0 $padding;
  z-index: 10;
  overflow: hidden;
  width: 100%;
  height: calc(100% - 98px);
  .swiper-wrapper-box {
    width: 500%;
    height: 100%;
    .swiper-slide-item {
      float: left;
      height: 100%;
      overflow-x: hidden;
      overflow-y: scroll;
      &::-webkit-scrollbar { display: none; }
    }
  }
}
